<!doctype html>
<html>
  <head>
    <title>Upload a Video File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='srtext.css') }}">
  </head>
  <body>
    <h1>Log in to the .srt subtitle generator</h1>
    <form action="/" method='post'>
      <label for="password">{{message}}:</label><br>
      <input type="password" id="password" name="password" value="" autofocus="autofocus"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
