<!doctype html>
<html>
  <head>
    <title>Processing your file(s)...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='srtext.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/css/skeleton.css') }}">
  </head>
  
  <body>
    <div class="container">
      <h3>Processing your file(s)...</h3>
      <body class="body">
        <!-- <div class="container" align="left"> -->
          <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <b>
          <ul>
            {% for message in messages %}
            <li>{{ message }}
              {% endfor %}
          </ul>
        </b>
        {% endif %}
        {% endwith %}
      </p>
      <p>
        Select the source language of your media, then click the button below to generate subtitles.<br>
        <form name="Source Language" action="/processing" method="POST" onsubmit="">
          <p>
            <input type="radio" name="Source Language" id="1" value="en" checked="checked"> English <br>
            <input type="radio" name="Source Language" id="2" value="fr"> French <br>
            <input type="radio" name="Source Language" id="3" value="de"> German <br>
            <input type="radio" name="Source Language" id="3" value="es"> Spanish <br>
          </p>
          <p><input class="button-primary" type=submit value="Generate .srt subtitles">
        </form>
      <p>
        <form method="GET" id="startover">
          <input type="button" onclick="window.location.href='/upload';" value="start over | upload different files" />
            </form>
            <p>
        If your desired language is not here, contact <u>martianhiatus [[at]] riseup [[dot]] net</u> and we can install it for you.<br><br>
        The processing time limit is set to 20 minutes. Currently processing takes about as long as the media itself (1 video minute takes one minute to process, approx.). If have a very large file contact me and I can either remove the limits or process it manually.<br><br>
        For the moment, only lo-fi models are being used, as they require far fewer resources to run. If you need hi-fi, top notch automated subtitles, just get in touch and I can create them on a more powerful machine.<br><br>
        </div>
      </body>
</html>
