<!doctype html>
<html>
  <head>
    <title>Upload Video File(s) to Transcribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='srtext.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/css/normalize.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/css/skeleton.css') }}">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 5px dashed #0087F7; background-color: #7c6f64; margin: 10%; ') }}

  </head>

  <body>
    <div class="container">
      <h3>Upload Video File(s) to Transcribe</h3>
      and we will use the Vosk speech recognition engine to create you .srt subtitles!
      <br /><br />
      <strong>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
      </strong>

      {{ dropzone.load_js() }}
      {{ dropzone.create(action='upload_file') }}

      <div class="buttons">
        <form action='/processing' id="dz-submit-btn" method="GET" >
          <button class="button-primary" type="submit">Next</button>
          <button form="remove" class="button" type="submit">remove all files</button>
        </form>
        <form action='/upload' method="GET" id="remove">
        </form>
      </div>

    <h4>Or you may manually upload some files here</h4>

      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple />
        <input class="button-primary" type="submit" value="submit files"/>
      </form>
      <p>
        Max file size is currently at 1024MB. If your file is really huge, maybe just email it over and we can transcribe it offline for you.
      <p>
        Currently accepted file types:
        {% with messages = exts %}
        {% if messages %}
        <table style="width:100%">
          <tr>
            {% for message in messages %}
            <td style="text-align: center">{{ message }}</td>
            {% endfor %}
          </tr>
        </table>
        {% endif %}
        {% endwith %}
        If you need to transcribe a file type the engine doesn't accept, contact <u>martianhiatus [[at]] riseup [[dot]] net</u> to add it.
    </div>
  </body>
</html>
