<!doctype html>
<html>
  <head>
    <title>Download .srt File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='srtext.css') }}">    
  </head>
  <body>
    <h1>Download your .srt File:</h1>
  <body class="body">
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      {% endif %}
      {% endwith %}
    </p>
    <div class="container" align="left">
      <!-- shouldn't this URL be "downloadfile"? -->
      <!-- looks like both of them work???? -->
      <a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
    </div>
  </body>
</html>
